<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Cleaning App</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="container">
      <img src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" class="logo" alt="logo">
      <h1>Data Cleaning Automation</h1>
      <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload & Mulai</button>
      </form>
      {% if error %}
      <p class="error">{{ error }}</p>
      {% endif %}
      <footer style="margin-top:32px;text-align:center;color:#888;font-size:1.05rem;">
        <b>Muhammad Yovie Ridwan</b> | Data Analyst
      </footer>
    </div>
  </body>
</html>
